{% extends 'base.html' %}
{% block title %}Create A New Blog Post{% endblock %}


{% block content %}
<section class="blog" id="blog">
    <div class="overlay bg-#f2e6ff"></div>
    <div class="container">

<h1>Add Post</h1>
<br/><br/>
<div class="form-group">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <button class="btn btn-secondary">Post</button>
    </form>
</div>

{% block extra_js %}
    <script>
        var name = "{{ user.id }}";
        document.getElementById("lc7406").value = name;
    </script>
{% endblock %}

{% endblock %}