{% extends 'base.html' %}
{% block title %}{{ post.title_tag }}{% endblock %}


{% block content %}
<section class="blog" id="blog">
    <div class="overlay bg-#f2e6ff"></div>
    <div class="container">
        <div class="row text align-center">
            <h1>{{ category }}</h1>
            <img src="/media/lavender_garden3.jpg" alt="lavender garden">
        </div>
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            One of two columns
        </div>
        <div class="col-4">
            One of two columns
        </div>
    </div>
    <ul>
    {% if category_posts %}
        {% for post in category_posts %}
            <li><a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a> 
        
        - {{ post.author.first_name }}
        - {{ post.author.last_name }}
        {{post.post_date}} -
        <small><a href="{% url 'update_post' post.pk %}">Edit</a></small>
        <small><a href="{% url 'delete_post' post.pk %}">Delete</a></small>
        <br/>
        {{ post.body }}</li>
        {% endfor %}
        </ul>

{% else %}
        <h2>Sorry this page does not exist.</h2>

{% endif %}







{% endblock %}