{% extends 'base.html' %}
{% block title %}Delete Blog Post{% endblock %}


{% block content %}
<section class="blog" id="blog">
    <div class="overlay bg-#f2e6ff"></div>
    <div class="container">

{% if user.is_authenticated %}
    {% if user.id == post.author.id %}  

        <h1>Delete Post</h1>
        <br/><br/>
        <h3>Delete: {{ post.title }}</h3>

        <br/>
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                <strong>Are You Sure?</strong><br/><br/>
                <button class="btn btn-secondary">Delete</button>
            </form>
        </div>
    {% endif %}
{% endif %}
{% endblock %}