{% extends 'base.html' %}
{% block title %}Edit Blog Post{% endblock %}


{% block content %}
<section class="blog" id="blog">
    <div class="overlay bg-#f2e6ff"></div>
    <div class="container">

{% if user.is_authenticated %}
    {% if user.id == post.author.id %}  

    <h1>Update Post</h1>
    <br/><br/>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button><a href="{% url 'BlogView' %}">Update</a></button>
        </form>
    </div>

    {% endif %}
{% endif %}
    </div>
</section>
{% endblock %}