<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'about' %}">About Us</a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="candles-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Online Shop
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="candle-link">
                <a href="{% url 'products' %}?category=candles" class="dropdown-item">Candles</a>
                <a href="{% url 'products' %}?category=soaps" class="dropdown-item">Soaps</a>
                <a href="{% url 'products' %}?category=diffusers" class="dropdown-item">Diffusers</a>
                <a href="{% url 'products' %}?category=oils" class="dropdown-item">Oils</a>
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=special_occasions" class="dropdown-item">Special Occasions</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Our Blog
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-link">
                <a href="{% url 'BlogView'%}" class="dropdown-item">All</a>
                <a href="{% url 'BlogView'%}?category=Gardening" class="dropdown-item">Gardening</a>
                <a href="{% url 'BlogView'%}?category=Medicinal+Properties" class="dropdown-item">Medical</a>
                <a href="{% url 'BlogView'%}?category=Recipes" class="dropdown-item">Recipes</a>
                <a href="{% url 'add_post' %}" class="dropdown-item">Add a Post</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'contact' %}">Contact Us</a>
        </li>
    </ul>
</div>