<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="about-us-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About Us
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="about-us-link">
                <a href="" class="dropdown-item">Our History</a>
                <a href="" class="dropdown-item ">Distilling</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="oils-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Oils
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="oils-link">
                <a href="" class="dropdown-item">Aromatherapy &amp; Massage</a>
                <a href="" class="dropdown-item">Essential</a>
                <a href="" class="dropdown-item">All Oils</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="candles-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Candles & Soaps
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="candle-link">
                <a href="" class="dropdown-item">Candles</a>
                <a href="" class="dropdown-item">Soaps</a>
                <a href="" class="dropdown-item">All Home Scent</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="difusers-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Difusers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="candle-link">
                <a href="" class="dropdown-item">Reed</a>
                <a href="" class="dropdown-item">Electric</a>
                <a href="" class="dropdown-item">All diffusers</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Special Occasions</a>
                <a href="" class="dropdown-item">Classes</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>