{% extends 'base.html' %}
{% block title %}{{ post.title_tag }}{% endblock %}


{% block content %}
<section class="blog" id="blog">
    <div class="overlay bg-#f2e6ff"></div>
    <div class="container">
        <div class="row">
            <h1>Our Essential Gardening Blog</h1>
                <img src="/media/lavender_garden1.jpg" alt="lavender garden">
            <div class="col-lg-2">
            <br/>
            <h3>breakdown</h3>
                <div id="list-example" class="list-group">
                <a class="list-group-item list-group-item-action" href="#list-item-1">Item 1</a>
                <a class="list-group-item list-group-item-action" href="#list-item-2">Item 2</a>
                <a class="list-group-item list-group-item-action" href="#list-item-3">Item 3</a>
                <a class="list-group-item list-group-item-action" href="#list-item-4">Item 4</a>
                <a class="nav-link active" aria-current="page" href="{% url 'add_post' %}">Add Post</a>
</div>
            </div>
        </div>

<h1>Posts</h1>

<ul>
{% for post in object_list %}
<li><a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a> - {{ post.author.first_name }}
    {{ post.author.last_name }}
    <small><a href="{% url 'update_post' post.pk %}">Edit</a></small>
    <small><a href="{% url 'delete_post' post.pk %}">Delete</a></small>
    <br/>
    {{ post.body }}</li>
{% endfor %}
</ul>

{% endblock %}
    </div>
</section>