{% extends "base.html" %}
{% load static %}

{% block page-header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<section class="about" id="about">
    <div class="overlay bg-#f2e6ff"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-10 offset-1 text-center mt-3">
                <h2 class="logo-font">Our Shop</h2>
            </div>
        <div class="sidenav">
            <button class="dropdown-btn">Candles & Soaps 
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <a href="{% url 'products' %}?category=candles" class="dropdown-item">Candles</a>
                <a href="{% url 'products' %}?category=soaps" class="dropdown-item">Soaps</a>
                <a href="{% url 'products' %}?category=candles,soaps" class="dropdown-item">All Home Scent</a>
            </div>
            <button class="dropdown-btn">Diffusers & Oils 
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <a href="{% url 'products' %}?category=reed" class="dropdown-item">Reed</a>
                <a href="{% url 'products' %}?category=electric" class="dropdown-item">Electric</a>
                <a href="{% url 'products' %}?category=aromatherapy" class="dropdown-item">Aromatherapy</a>
                <a href="{% url 'products' %}?category=essential" class="dropdown-item">Essential</a>
                <a href="{% url 'products' %}?category=reed,electric,aromatherapy,essential" class="dropdown-item">All Diffusers & Oils</a>
            <button class="dropdown-btn">Special Offers 
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=special_occasions" class="dropdown-item">Special Occasions</a>
                <a href="{% url 'products' %}?category=classes" class="dropdown-item">Classes</a>
                <a href="{% url 'products' %}?category=new_arrivals,special_occasions,classes" class="dropdown-item">All Specials</a>
        </div>

    <!-- Footer -->
        <footer class="footer-all">
            <div class="pt-2 pt-md-4">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <h5 class="footer-title">Quick links</h5>
                            <ul class="footer-list">
                                <li><a href="">Online Shop</a></li>
                                <li><a href="{% url 'about' %}">About</a></li>
                                <li><a href="">Blog</a></li>
                                <li><a href="">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="second-footer-panel">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center">
                            <ul id="social-icon" class="text-center">
                                <li class="mr-2">
                                    <a href="https://www.linkedin.com/in/lee-ann-clark-2aa03696/" rel="noopener" target="_blank">
                                        <i class="fab fa-linkedin fa-2x"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://github.com/Lee-AnnC" rel="noopener" target="_blank"><i class="fab fa-github-square fa-2x"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 text-center">
                            <p><span class="mr-3">© Lee-Ann Clark 2021 </span><span>Educational Project purpose Only.</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    
{% endblock %}