{% extends "base.html" %}
{% load static %}

{% block page-header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<section class="about" id="about">
    <div class="overlay bg-#f2e6ff"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-10 offset-1 text-center mt-3">
                <h2 class="logo-font">About Us</h2>
                <img src="/media/about_us1.jpg" alt="lavender fields" class="responsive"><br>
                <h3>Welcome to True Essence.</h3><br>
                <p>We are a family run business and all our products are lovingly hand made.<br>
                With more than 15 years experience we harvest and distill our own essential oils,<br>
                Our passion for oils can clearly be seen in the soaps and candles that we make.</p>
            </div>
        </div>
    </div>
</section>        

        <div class="row">
            <div class="col-10 offset-1">
                <div class="videoWrapper">
                    <iframe width="635" height="349" src="https://www.youtube.com/embed/fBtuUUTbTyw" frameborder="0" allowfullscreen class="responsive"></iframe> 
                </div>
            </div>
        </div>
    <!-- Footer -->
        <footer class="footer-all">
            <div class="pt-2 pt-md-4">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <h5 class="footer-title">Quick links</h5>
                            <ul class="footer-list">
                                <li><a href="">Online Shop</a></li>
                                <li><a href="{% url 'about' %}">About</a></li>
                                <li><a href="">Blog</a></li>
                                <li><a href="">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="second-footer-panel">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center">
                            <ul id="social-icon" class="text-center">
                                <li class="mr-2">
                                    <a href="https://www.linkedin.com/in/lee-ann-clark-2aa03696/" rel="noopener" target="_blank">
                                        <i class="fab fa-linkedin fa-2x"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://github.com/Lee-AnnC" rel="noopener" target="_blank"><i class="fab fa-github-square fa-2x"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 text-center">
                            <p><span class="mr-3">© Lee-Ann Clark 2021 </span><span>Educational Project purpose Only.</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    
{% endblock %}