{% extends "base.html" %}
{% load static %}

{% block page-header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay bg-white"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">About Us</h2>
                <p>Welcome to True Essence.<br>
                We are a family run business and all our products are lovingly hand made.<br>
                With more than 15 years experience in harvesting and distilling of essential oils,<br>
                Our passion that goes into the making of the soaps and candles can clearly be seen.  </p>
            </div>
        </div>        

    <div class="row">
        <div class="col-10 offset-1">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fBtuUUTbTyw" allowfullscreen></iframe> 
            </div>
        </div>
    </div>
</div>
{% endblock %}